<a href="https://colab.research.google.com/github/Mariammmmmmm/NLP/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Рстакян Мариам Лабораторная работа №1

In [ ]:
import re
import string
import nltk
from nltk.corpus import wordnet 
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [ ]:
import pandas as pd
data = pd.read_csv('financial_review.csv')
data.tail(10)

,bank_href,login,review,bank_name,site,date,message_href,score,status,user_href
23800,/bank/rusjugbank/,"Tatiana Guten Abend,",Некомпетентные и непрофессиональные сотрудники...,русюгбанк,https://www.sravni.ru,"05 дек, 2016",/bank/rusjugbank/otzyv/219121/?page,1,NaN,NaN
23801,/bank/krylovskij/,"Игорь,","Вводят новые услугиХотел давно написать отзыв,...",банк крыловский,https://www.sravni.ru,"20 июня, 2017",/bank/krylovskij/otzyv/233353/?page,4,NaN,NaN
23802,/bank/krylovskij/,"Олег,",Пенсионный вклад в КрыловскомЗдравствуйте! Вод...,банк крыловский,https://www.sravni.ru,"22 июня, 2017",/bank/krylovskij/otzyv/233537/?page,4,NaN,NaN
23803,/bank/bank-junistrim/,"Gin1515,","Осторожно, кассирша обменника мошенничаетЯ 12....",юнистрим,https://www.sravni.ru,"15 мая, 2018",/bank/bank-junistrim/otzyv/289582/?page,1,NaN,NaN
23804,/bank/evroaljans/,"Алина,",Благодарностьхочу выразить благодарность банку...,банк евроальянс,https://www.sravni.ru,"26 дек, 2016",/bank/evroaljans/otzyv/222388/?page,5,NaN,NaN
23805,/bank/bank-chbrr/,"Василий,",Работа касс отвратительнаяПри наличии большой ...,банк чбрр,https://www.sravni.ru,"18 дек, 2018",/bank/bank-chbrr/otzyv/305639/?page,1,NaN,NaN
23806,/bank/primore/,"Дмитрий,",Проблемы с переводом за границу.Решил приобрес...,банк приморье,https://www.sravni.ru,"28 нояб, 2017",/bank/primore/otzyv/258481/?page,1,NaN,NaN
23807,/bank/inkarobank/,"Александр,",Отказали в пополнении вкладаСегодняСегодня (10...,инкаробанк,https://www.sravni.ru,"10 мая, 2018",/bank/inkarobank/otzyv/289290/?page,3,NaN,NaN
23808,/bank/razvitie-stolica/,"Uliana,",Вернули мне мою квартиру!Взыскивали квартиру п...,банк развитие-столица,https://www.sravni.ru,"04 февр, 2019",/bank/razvitie-stolica/otzyv/312081/?page,5,NaN,NaN
23809,/bank/rosavtobank/,"Дарья,",Решила открыть небольшой вклад в рублях и пути...,росавтобанк,https://www.sravni.ru,"19 окт, 2015",/bank/rosavtobank/otzyv/178558/?page,5,NaN,NaN

In [ ]:
text = data['review'].to_string()
type(text)

str

In [ ]:
from nltk.tokenize import word_tokenize
# convert to lower case, removing stop words, numbers / non-alphabetic characters, lemmatization.

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

stop_words = set(stopwords.words('russian'))
lemmatizer = WordNetLemmatizer()
def clear(text):
  text = text.lower()
  text = list(filter(str.isalpha, word_tokenize(text.lower())))
  text = list(lemmatizer.lemmatize(word) for word in text)
  text = list(word for word in text if word not in stop_words)
  new_text = ' '.join(text)
  return new_text

text = clear(text)
text[:500]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

'брал кредит данной организации погаше году мною оформлена мега карта т родителями увидели рекламу вклада осеннее пр связать года своей жизни этим непорядочн пользуюсь месяц карточкой card plus сегодня п кредит европа банком познакомилась отец является инвалидом группы разго воспользовалась кредитной карточкой покупк характеристика наплевательское увидев рекламу икеа рассрочке покупке около года назад оформила карту мега карт ду ситуация следующая оформили карту икея кред имею карту кредит европа'

In [ ]:
from nltk.tokenize import word_tokenize
text_word = word_tokenize(text)

In [ ]:
#10 популярных слов
from nltk.probability import FreqDist
fdist = FreqDist()

for word in text_word:
  fdist[word.lower()]+=1

fdist_top10 = fdist.most_common(10)
fdist_top10

[('банк', 2107),
 ('банка', 1942),
 ('день', 1852),
 ('кредит', 1542),
 ('года', 1186),
 ('клиентом', 1022),
 ('являюсь', 784),
 ('банке', 782),
 ('карту', 702),
 ('добрый', 689)]

Разделим отзывы на положительные и отрицательные

In [ ]:
# Создание столбца по определению положительных/отрицательных отзывов
data = data.dropna(subset=['score'])
filter = (data['score'] != '1') & (data['score'] != '2') & (data['score'] != '4') & (data['score'] != '5')
df = data.drop(index=data[filter].index)
df['scores'] = ['positive' if  (( i== '4')|(i == '5')) else 'negative' for i in df.score]
df[['review','score', 'scores']]

                                                  review score    scores
4988   \n\t\tМне приходят смс сообщения о просроченно...     1  negative
4990   \n\t\tСегодня, 15.01.2019, в отделении города ...     1  negative
4991   \n\t\tПретензия к банку.Я, обратившись в ряд Б...     1  negative
4992   \n\t\t18.02.19 г. в 10.00 не смог получить дос...     1  negative
4993   \n\t\tСама клиентом банка не являюсь (Слава Бо...     1  negative
...                                                  ...   ...       ...
23804  Благодарностьхочу выразить благодарность банку...     5  positive
23805  Работа касс отвратительнаяПри наличии большой ...     1  negative
23806  Проблемы с переводом за границу.Решил приобрес...     1  negative
23808  Вернули мне мою квартиру!Взыскивали квартиру п...     5  positive
23809  Решила открыть небольшой вклад в рублях и пути...     5  positive

[15775 rows x 3 columns]

In [ ]:
#Поделим на 2 датафрейма с положительными и отрицательными отзывами
filter = (df['scores'] == 'positive')
dfneg = df.drop(index=df[filter].index)
filter = (df['scores'] == 'negative')
dfpoz = df.drop(index=df[filter].index)
dfpoz[['review','score', 'scores']]

                                                  review score    scores
4999   \n\t\tНедавно заехал в отделение Измайловское....     5  positive
5000   \n\t\tВсегда безупречное обслуживание, приятно...     5  positive
5001   \n\t\tХочу поблагодарить менеджеров Семеновско...     5  positive
5002   \n\t\tЯвляюсь клиентом банка МКБ и в конце про...     5  positive
5006   \n\t\tДовелось мне на днях попасть в МКБ в офи...     5  positive
...                                                  ...   ...       ...
23801  Вводят новые услугиХотел давно написать отзыв,...     4  positive
23802  Пенсионный вклад в КрыловскомЗдравствуйте! Вод...     4  positive
23804  Благодарностьхочу выразить благодарность банку...     5  positive
23808  Вернули мне мою квартиру!Взыскивали квартиру п...     5  positive
23809  Решила открыть небольшой вклад в рублях и пути...     5  positive

[4291 rows x 3 columns]

Топ слов в позитивных отзывах

In [ ]:
import re
positive_review = dfpoz['review'].to_string()

positive_review = positive_review.lower()
positive_review = word_tokenize(positive_review)
positive_review = [word for word in positive_review if word.isalpha()]
positive_review = list(lemmatizer.lemmatize(word) for word in positive_review)
positive_review = list(word for word in positive_review if word not in stop_words)
positive_review = list(positive_review[i] for i in range(len(positive_review)-1) if positive_review[i+1]=='банк')
positive_review = str(positive_review)
positive_review = re.findall(r'\w+й', positive_review)
positive_review = ' '.join(positive_review)
positive_review[:500]


positive_review = word_tokenize(positive_review)
#10 популярных слов позитивного интервью
posfdist = FreqDist()

for word in positive_review:
  posfdist[word.lower()]+=1

posfdist_top10 = posfdist.most_common(10)
posfdist_top10

[('хороший', 16),
 ('отличный', 16),
 ('лучший', 10),
 ('нормальный', 8),
 ('банкхороший', 7),
 ('данный', 5),
 ('мобильный', 4),
 ('свой', 2),
 ('честный', 2),
 ('удобный', 2)]

Топ слов в негативных отзывах

In [ ]:
negative_review = dfneg['review'].to_string()

negative_review = negative_review.lower()
negative_review = word_tokenize(negative_review)
negative_review = [word for word in negative_review if word.isalpha()]
negative_review = list(lemmatizer.lemmatize(word) for word in negative_review)
negative_review = list(word for word in negative_review if word not in stop_words)
negative_review = list(negative_review[i] for i in range(len(negative_review)-1) if negative_review[i+1]=='банк')
negative_review = str(negative_review)
negative_review = re.findall(r'\w+й', negative_review)
negative_review = ' '.join(negative_review)
negative_review[:500]


negative_review = word_tokenize(negative_review)
#10 популярных слов позитивного интервью
negfdist = FreqDist()

for word in negative_review:
  negfdist[word.lower()]+=1

negfdist_top10 = negfdist.most_common(10)
negfdist_top10

[('банкхороший', 174),
 ('ужасный', 41),
 ('отвратительный', 18),
 ('данный', 17),
 ('плохой', 10),
 ('уважаемый', 7),
 ('худший', 7),
 ('обращай', 5),
 ('онлай', 4),
 ('хороший', 3)]